/* Asterisk wildcard - This is the same code used in the love running project I will use it to apply to my website */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/** Header **/
header {
    background: lightgray;
}
/** Main **/
main {
    background-color: aqua;
    /* Make main content take up any extra space to move and push down the footer to the bottom */
    flex: 1 0 auto;
}
/** Footer **/
footer{
    background-color: blueviolet;
}